@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 1rem 2rem;
    position: relative;
  }

  .main-nav ul {
   display: flex !important;
    flex-direction: row;
     position: static;
    background-color: transparent;
      justify-content: flex-end;
    gap: 1rem;
    width: auto;
    box-shadow: none;;
  }
  .main-nav ul li {
    margin: 0 1rem;
  }

  main-nav a {
    padding: 0.75rem 1.5rem;
    color: inherit;
  }

  .main-nav a:hover {
    background-color: #444;
    color: white;
    border-radius: 4px;
  }

.hero-image {
  width: 100%;
  height: auto;
}
  .hamburger {
    display: none;
  }

  .logo-area {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
     justify-content: flex-start;
  }

  
  .logo {
    max-width: 100px;
    height: auto;
  }



  .grid-view {
    grid-template-columns: repeat(2, 1fr);
  }

  .info-section {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .info-block {
    flex: 1;
  }

  .business-directory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }

  footer.site-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
  }
  .footer-note {
    text-align: right;
  font-size: 0.9rem;
color: #ccc;
  }
#members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
}
